name: CI
on:
  push:
    branches:
      - main
      - develop
  pull_request: {}
permissions:
  checks: write
  pull-requests: write  
env:
  JAVA_VERSION: "17"
  JAVA_DISTRIBUTION: "temurin"
jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
        id: checkout
      - name: Check dependency cache
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        with:
          path: |
            lib
          key: oscal-xproc3-deps-${{ hashFiles('lib/**') }}-${{ hashFiles('*.sh') }}
        id: cache        
      - name: Setup dependencies
        if: steps.cache.outputs.cache-hit != 'true'      
        run: |
          ./setup.sh
          ./xp3.sh lib/GRAB-SAXON.xpl
          ./xp3.sh lib/GRAB-SCHXSLT.xpl -silent
          ./xp3.sh lib/GRAB-XSPEC.xpl -silent
        id: setup
      - name: Run smoketests
        run: |
          ls -lha lib
          ./xp3.sh smoketest/POWER-UP.xpl -silent
          ./xp3.sh smoketest/SMOKETEST-SCHEMATRON.xpl -silent
          ./xp3.sh smoketest/SMOKETEST-XSPEC.xpl -silent
        id: exec_smoketests
      - name: Run tests
        run: |
          ./xp3.sh testing/HARDFAIL-XPROC3-HOUSE-RULES.xpl -silent
          ./xp3.sh testing/RUN_XSPEC-JUNIT_BATCH.xpl -silent
        id: exec_tests
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
        with:
          name: XSpec Test Results
          path: |
            **/*junit.xml
            !lib/**
  event_file:
    name: "Upload Results to Event File"
    runs-on: ubuntu-20.04
    needs: test
    steps:
    - name: Upload
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
      with:
        name: Test Results Event
        path: ${{ github.event_path }}

